body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
}

.kiosk-hero {
    height: 100vh;
    background-image: url('../images/burger.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.6));
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    text-align: center;
    color: white;
    padding: 20px;
}

.hero-content h1 {
    font-size: clamp(28px, 5vw, 48px);
    letter-spacing: 3px;
}

.hero-content h2 {
    font-size: clamp(40px, 8vw, 72px);
    margin: 10px 0 40px;
    font-weight: bold;
}

.start-btn {
    display: inline-block;
    background: #0b7a4b;
    color: white;
    padding: 20px 50px;
    font-size: clamp(18px, 3vw, 28px);
    font-weight: bold;
    border-radius: 14px;
    text-decoration: none;
    transition: 0.2s;
}

.start-btn:hover {
    transform: scale(1.05);
    background: #0ea563;
}